.discoverContainer {
    display: flex ;
    flex-direction: column;
    align-items: center;
    gap: 20px 1px;
}

.userContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.userAvatar {
    display: flex;
    gap: 2px 10px;
}
@media (max-width: 375px) {
    .userAvatar{
        flex-direction: column;
    }
}

.userName {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
.userName span {
    word-wrap: break-word;
    text-align: left;
}