.success{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.iconColor{
    color: green;
}
.icon{
    font-size: xx-large !important;
    border-radius: 50%;
    box-shadow: 0 0 3px;
}