.room{
    /* display: flex;
    flex-direction: column; */
    border-radius: 5px;
    margin-bottom: 1rem;
}
.roomCard{
    /* background-color: var(--primary-color); */
    /* color: white; */
    padding: 1rem;
    border: 2px solid #6a4cff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 35px 5px;
}
.room .roomTitle {
    display: flex;
    justify-content: space-between;
    text-align: start;
    gap: 2px 5px;
}
.roomHeader{
    max-width: 120px;
}
.roomTitle .roomName {
    margin-top: 2px;
    font-size: 16px;
    font-weight: 600;
}
.roomTitle .roomCategory{
    font-size: 16px;
    margin-top: 3px;
    display: block;
}
.joinPublicRoom {
    /* background: white; */
    text-decoration: none;
    color: black;
    padding: 4px;
    border-radius: 4px;
}
.roomInfo{
    display: flex;
    flex-direction: row;
    gap: 5px 20px;
}

.people{
    display: flex;
}
.userImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: -16px;
    cursor: pointer;
}
.speakers,
.listeners{
    text-align: center;
}
.speakersCount,
.listenersCount {
    display: block;
    font-weight: bold;
    /* color: var(--body-color); */
}