.podcastscontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px 60px;
}
/* @media (max-width: 600px) {
    .podcastscontainer{
        font-size: 14px;
    }
} */