.podcastPlayer {
  box-shadow: 0px 0px 5px #8e8e8f;
  border-radius: 4px;
  padding: 1rem;
  background-color: rgba(255,255,255,0.4);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  position: relative;
}

.closeModal{
  position: absolute !important;
  top: 0;
  right: 0;
}
.collapse {
  position: absolute !important;
  top: 0;
  left: 0;
}

.miniPlayer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.audioPlayer{
    --primary: #f40082;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-width: 335px;
    border-radius: 4px;
    padding: 1rem;
    box-shadow: 0px 0px 4px #123456;
}
.controls,
.audio {
    display: flex;
}

.audio {
    gap: 1px 3px;
}

.forwardBackward {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}
.forwardBackward:hover {
    color: var(--primary);
}

.playPause{
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.currentTime ,
.duration {
    font-family: monospace;
    font-size: 16px;
}

.progressBar {
    --bar-bg: #ffe3d4;
    --seek-before-width: 0px;
    --seek-before-color: #ffc2a1;
    --knobby: #3452a5;
    --selectedKnobby: #26c9c3;

    /* appearance: none; */
    background: var(--bar-bg);
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;
}

.volumeBar {
  width: 50%;
}

/* progress bar - safari */
.progressBar::-webkit-slider-runnable-track {
    background: var(--bar-bg);;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;
  }
  
  /* progress bar - firefox */
  .progressBar::-moz-range-track {
    background: var(--bar-bg);;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;
  }
  
  .progressBar::-moz-focus-outer {
    border: 0;
  }
  
  /* progress bar - chrome and safari */
  .progressBar::before {
    content: '';
    height: 11px;
    width: var(--seek-before-width);
    background-color: var(--seek-before-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
  }
  
  /* progress bar - firefox */
  .progressBar::-moz-range-progress {
    background-color: var(--seek-before-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 11px;
  }
  
  /* knobby - chrome and safari */
  .progressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: none;
    background-color: var(--knobby);
    cursor: pointer;
    position: relative;
    margin: -2px 0 0 0;
    z-index: 3;
    box-sizing: border-box;
  }
  
  /* knobby while dragging - chrome and safari */
  .progressBar:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background: var(--selectedKnobby);
  }
  
  /* knobby - firefox */
  .progressBar::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: transparent;
    background-color: var(--knobby);
    cursor: pointer;
    position: relative;
    z-index: 3;
    box-sizing: border-box;
  }
  
  /* knobby while dragging - firefox */
  .progressBar:active::-moz-range-thumb {
    transform: scale(1.2);
    background: var(--selectedKnobby);
  }

/* 
:root{
    --primary-color: #6A4CFF;
    --main-dark-color: #0C0B0E;
    --main-gray-color: #232229;
    --main-icon-color: #FFACA9;
    --hover-bg-color: #1B1923; 
    --text-color: #FFFFFF;
} */

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userImg {
  /* position: relative; */
  width: 80px;
  height: 80px;
  border-radius: 50%;
} 
.userImg img {
  /* position: absolute;
  bottom: 35px; */
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.userName {
  text-align: center;
}

.playerButtons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.active {
  color: #0C0B0E;
}



.likeTrack.liked {
    color: #6A4CFF;
}

.playerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}





.rotate{
  animation: rotation 8s infinite linear;
}
@keyframes rotation{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(359deg);
  }
}

.waveLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.waveLoaderHeight{
  height: 50px;
}

.waveLoader .stroke {
  background: white;
  height: 150%;
  border-radius: 50px;
  margin: 0px 2px;
  animation: animate 1.4s linear infinite;
}
.strokeWidth {
  width: 10px;
}


.miniPlayerWaveLoaderHeight{
  height: 17px;
}
.miniPlayerStrokeWidth {
  width: 2px;
}
/* *----------- */

@keyframes animate{
    50%{
        height: 20%;
        background: #4286f4;
    }
    100%{
        height: 100%;
    }
}



/* *************- */
.stroke:nth-child(1){
    animation-delay: 0s;
}
.stroke:nth-child(2){
    animation-delay: 0.3s;
}
.stroke:nth-child(3){
    animation-delay: 0.6s;
}
.stroke:nth-child(4){
    animation-delay: 0.9s;
}
.stroke:nth-child(5){
    animation-delay: 0.6s;
}
.stroke:nth-child(6){
    animation-delay: 0.3s;
}
.stroke:nth-child(7){
    animation-delay: 0s;
}

.displayHidden{
  display: none;
}
