.roomFooter{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: auto;
    margin-left: 5px;
    margin-bottom: 22px;
}
.roomFooter::-webkit-scrollbar {
    display: none;
}

.chatBox {
    display: flex;
    flex-direction: column;
}

.chatBox .myMessage,
.chatBox .usersMessage {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    word-break: break-all;
    padding: 0px 5px 0px 5px;
    border-radius: 4px;
    text-align: start;
}

.myMessage{
    margin-left: auto;
    background: #1976d2;
    color: white;
}
.myMessage .userName{
    text-decoration: none;
    color: black;
}

.usersMessage {
    text-align: start;
    background: #999191;
    color: black;
}
.usersMessage .userName{
    text-decoration: none;
    color: white;
}

.messageHeader {
    display: flex;
    justify-content: space-between;
    gap: 1px 5px;
    width: 100%;
}

.load{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}