
  :root{
    /* ===== Colors ===== */
    --body-color: #0C0B0E;
    --sidebar-color: #232229;
    --primary-color: #999191;
    --primary-color-light: #FFFFFF;
    --secondary-color: #6A4CFF;
    --toggle-color: #DDD;
    --active-color: #FFACA9;
  
    /* ====== Transition ====== */
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
  }
  
  
  button, label, .handOver {
    cursor: pointer;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .allCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .displayHidden{
    display: none;
  }
/* create room
.createRoomContainer {
  width: 100%;
  background-color: rgba(0,0,0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3000;
}
.createRoomContainer.showModal {
  display: none;
}
*/
.page {
    /* width: 1; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* padding: 10px; */
    /* margin-left: 49px; */
}
  
.page .house {
    /* width: 70%; */
    min-width: 320px;
    height: 530px;
    background: var(--primary-color);
    border-radius: 14px;
    margin-top: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .headerControls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px 10px;
    margin-top: 4px;
    width: 100%;
    position: relative;
  }
  .collapseDiv {
    position: absolute;
    left: 0;
  }
  .headerControls .button {
    width: 40%;
  }
  .page .house .screen {
    width: calc(100% - 9px);
    height: calc(100% - 9px);
    max-height: 100%;
    /* background: var(--sidebar-color); */
    background-repeat: no-repeat;
    background-clip: content-box;
    background-origin: content-box;
    background-size: cover;
    border-radius: 33px;
    padding: 0;
    overflow: hidden;
    position: relative;
  }

  .privateId{
    position: absolute;
    top: 2px;
    left: 16%;
  }
  
  .page .house .screen main {
    width: 100%;
    height: 85%;
    /* background: #fff; */
    overflow: auto;
    border-radius: 32px 32px 0 0;
    padding: 16px;
    margin-top: 23px;
  
    background-color: rgba(255,255,255,0.4);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
  }
  
  .page .house .screen main {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .page .house .screen main::-webkit-scrollbar {
    display: none;
  }
  
  .page .house .screen main .title {
    font-size: 14px;
  }
  
  .page .house .screen main > div {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px 25px;
  }
  .page .house .screen main .roomHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
 
  .page .house .screen main > div .user {
    height: 104px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    position: relative;
    margin-top: 10px;
  }
  
  
  .requestHand{
    position: absolute;
    top: 30px;
    left: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
  }

  .isTalking{
    border: 3px solid #1976d2;
  }
  
  .page .house .screen main > div .user > .mic {
    position: absolute;
    top: 40px;
    left: 47px;
    background-color: white;
    border-radius: 50%;
    display: flex;
  }
 
  
  .page .house .screen main > div .user .userName {
    width: 100%;
    font-weight: 700;
    overflow: hidden;
    display: flex;
   justify-content: flex-start;
    font-size: 10px;
    word-wrap: break-word;
  }
 
  .page .house .screen main > div .user .userName.speaker,
  .page .house .screen main > div .user .userName.listener {
    flex-direction: column;
    margin-top: 5px;
  }
  
  .page .house .screen main > div .user .userName .userRole{
    font-size: 8px;
  }
  

  
  .page .house .screen footer {
    width: 100%;
    height: 80px;
    /* background: var(--sidebar-color); */
    display: flex;
    /* -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; */
  }

  .page .house .screen footer .btOptions {
    width: 100%;
    height: 60px;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 8px 12px;
    color: #fff;
  }
  
  .page .house .screen footer .btOptions > div {
  
    display: flex;
  }
  
.rotateHand{
  transform: rotate(180deg);
}
  
  
.recordRoom{
  visibility: visible;
  animation: recordroom 2s linear infinite;
}

@keyframes recordroom {
  0% {
    visibility: hidden;
  }
  20% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  70% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}
