.eventsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px 1px;
    /* margin-bottom: 6rem; */
    /* min-width: 350px; */
}

.createEvent{
    text-align: end;
    margin-bottom: 1rem;
}