.profileContainer{
    display: flex;
    justify-content: center;
}
.profile {
    /* max-width: 600px; */
    flex-basis: 600px;
    /*border: 1px solid #c1b2b2; */
    box-shadow: 0 0 2px #c1b2b2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.background {
    width: 100%;
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userInfo{
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
}
.info{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.userImg{
    position: relative;
}

.avatar {
    position: absolute;
    left: 1.5px;
    bottom: 8.5px;
    border: 2px solid #bbc2c9;
    border-radius: 50%;
    cursor: pointer;
}
.userBio{
    overflow-wrap: break-word;
}

.follow {
    display: flex;
    gap: 4px 20px;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
    color: rgb(113, 118, 123);
    cursor: pointer;
}
.follow span {
    color: black;
}
.followers:hover,
.following:hover {
    text-decoration: underline;
}

.tabs{
    width: 100%;
}